.incomes {
    display: grid;
    grid-template-columns: 1fr 50px;
}
.incomes table {
    margin: 20px auto;
}
.incomes th {
    width: 250px;
    height: 25px;
}
.incomes td {
    text-align: center;
}
.incomes .add {
    margin-top: 15px;
    background-color: hsl(120, 40%, 69%);
}