
.incomesContainer {
    display: grid;
    grid-template-columns: 1fr 50px;
}
.incomes table {
    margin: 20px auto;
}
.incomes th {
    width: 250px;
    height: 25px;
}
.incomes td {
    text-align: center;
}
.incomes .add {
    width: 35px;
    height: 35px;
    margin-top: 15px;
    margin-right: 20px;
    background-color: hsl(120, 40%, 69%);
}
.add-income input {
    background-color: lightgrey;
    border: none;
    outline: none;
    text-align: center;
}
.incomes .save, .cancel {
    width: 75px;
    font-size: 16px;
    font-weight: 600;
}
.incomes .save {
    background-color: hsl(111, 34%, 65%);
    margin-left: 560px;
}
.incomes .cancel {
    background-color: red;
    margin-left: 10px;
}
.incomes h3 {
    text-align: center;
    font-weight: 700;
}